{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"sourceType": "module",
		"project": "./tsconfig.json"
	},
	"extends": [
		"eslint:recommended",
		"airbnb-base",
		"plugin:@typescript-eslint/recommended",
		"prettier/@typescript-eslint",
		"prettier"
	],
	"plugins": ["@typescript-eslint"],
	"rules": {
		"import/extensions": [
			"error",
			"ignorePackages",
			{
				"js": "never",
				"ts": "never"
			}
		],
		"no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
		"newline-per-chained-call": [1, { "ignoreChainWithDepth": 1 }],
		"no-tabs": ["error", { "allowIndentationTabs": true }],
		"no-multiple-empty-lines": ["error", { "max": 1 }],
		"indent": ["error", "tab", { "SwitchCase": 1 }],
		"arrow-parens": ["error", "as-needed"],
		"max-len": ["error", { "code": 120 }],
		"comma-dangle": ["error", "never"],
		"no-useless-constructor": "off",
		"no-underscore-dangle": "off",
		"no-case-declarations": "off",
		"object-curly-newline": "off",
		"no-await-in-loop": "off",
		"strict": "off",
		"import/prefer-default-export": "off",
		"@typescript-eslint/no-unused-vars": "off",
		"@typescript-eslint/explicit-module-boundary-types": "off",
		"@typescript-eslint/explicit-function-return-type": "off",
		"@typescript-eslint/no-var-requires": "off",
		"@typescript-eslint/no-explicit-any": "off",
		"class-methods-use-this": "off",
		"@typescript-eslint/ban-ts-comment": "off"
	},
	"settings": {
		"import/resolver": {
			"node": {
				"extensions": [".js", ".ts"]
			}
		}
	}
}
